body{
    background-color: #011130;
    color: ghostwhite;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
    font-size: 16px;
}
#each{
    background-color: aliceblue;
    border-radius: 10%;
}